parameters:
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
	ignoreErrors:
		- '#Call to an undefined method object\:\:__toString\(\)#'
		- '#Call to an undefined method object\:\:getId\(\)#'
		- '#Call to an undefined method Nette\\Application\\IPresenter::isSignalProcessed\(\)#'
