parameters:
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
	ignoreErrors:
		- '#Call to an undefined method object\:\:__toString\(\)#'
		- '#Property Nette\\Http\\Request::\$(.*) is not writable.#'
