services:
	testerListener: MangowebTests\Tester\PresenterTester\TestPresenterTesterListener()
	presenterTester: Mangoweb\Tester\PresenterTester\PresenterTester(baseUrl: http://localhost, listeners: [
		@MangowebTests\Tester\PresenterTester\TestPresenterTesterListener
	])
	router: Nette\Application\Routers\SimpleRouter
application:
	mapping:
		*: MangowebTests\Tester\PresenterTester\Presenters\*\*Presenter
